<div class="navbar">
  <img src="/assets/logo.png" alt="Escape Room Logo" class="logo">
  <div class="menu-icon">
    <span>&#9776;</span>
  </div>
</div>

<div class="container">
  <div class="text-container">
    <h1 class="large-text">Can you Escape?</h1>
    <p class="small-text">Your time is running out. Search how to solve the mystery.</p>
    <button class="book-button" (click)="scrollToBooking()">Book your game</button>
  </div>
</div>

<!-- Zielabschnitt für Scroll -->
<div id="booking-section" class="booking-section">
  <h2>ESCAPE ROOMS</h2>
  <p>Choose your room.</p>

  <div class="room-gallery">
    <div class="room" *ngFor="let room of escapeRooms" (click)="openRoomDetails(room)">
      <img [src]="room.image" [alt]="room.name">
      <p>{{ room.name }}</p>
    </div>
  </div>
</div>



