<div class="navbar">
  <img src="/assets/logo.png" alt="Escape Room Logo" class="logo">
  <div class="menu-icon">
    <span>&#9776;</span>
  </div>
</div>

<div class="container">
  <div class="text-container">
    <h1 class="large-text">Can you Escape?</h1>
    <p class="small-text">Your time is running out. Search how to solve the mystery.</p>
    <button class="book-button" (click)="scrollToBooking()">Book your game</button>
  </div>
</div>

<!-- Escape Rooms Abschnitt -->
<div *ngIf="showRooms">
  <div id="booking-section" class="booking-section">
    <h2>ESCAPE ROOMS</h2>
    <p>Choose your room.</p>

    <div class="room-gallery">
      <div class="room" *ngFor="let room of escapeRooms" (click)="openRoomDetails(room)">
        <img [src]="room.image" [alt]="room.name">
        <p>{{ room.name }}</p>
      </div>
    </div>
  </div>
</div>

<!-- Escape Room Detailseite wird separat geladen -->
<router-outlet></router-outlet>

<!-- Informationen über die Escape Rooms und den Besitzer -->
<div class="escape-room-info" *ngIf="!showRooms">
  <h2>About Our Escape Rooms</h2>
  <p>Experience thrilling and immersive escape room adventures! Solve mysteries, find clues, and challenge yourself.</p>
</div>

  <div class="owner-info">
    <img src="assets/reem.jpg" alt="Reem Alsheikha" class="owner-image">
    <div class="owner-details">
      <h3>Reem Alsheikha</h3>
      <p>Owner & Founder</p>
      <p>📞 Phone: +49 176 43600986</p>
    </div>
  </div>



<!-- Social Media Icons -->
<div class="social-media">
  <a href="https://www.instagram.com/reem_alsheikha/" target="_blank" class="instagram">
    <span class="material-icons">photo_camera</span>
  </a>
  <a href="https://www.facebook.com/reem.alshekha.58/" target="_blank" class="facebook">
    <span class="material-icons">facebook</span>
  </a>
</div>



  
  



